---
import Navbar from "../components/Navbar.astro"

interface Props {
	title: string;
	description?: string;
	image?: string;
}

// Destructuring properties
const { title, description = "Default description of Champion Custom Designs website", image="/images/architecture.jpeg" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content={image}/>
		<title>{title}</title>
	</head>
	<!-- Insert individual things i need from each page-->
	<body class="min-h-screen">
		<Navbar />
		<slot />
	</body>
</html>

